[submodule "/Volumes/Data/Users/skumancer/Projects/Shadertoy/Shadertoy/SWRevealViewController"]
	path = /Volumes/Data/Users/skumancer/Projects/Shadertoy/Shadertoy/SWRevealViewController
	url = https://github.com/John-Lluch/SWRevealViewController.git
